.super-headline {
    display: flex;
    padding: 10px;
}
.super-headline .spacer {
    flex: 1;
}
.headline {
    font-size: 2rem;
}
.width {
    width: 100%;
}
.add-on {
    position: relative;
    left: 20px;
    width: calc(100% - 150px);
}
.add-on-button {
    margin-left: 40px;
}
.mat-option-adder {
    border-top: 1px solid grey;
}
.mat-option-adder .icon {
    vertical-align: sub;
    margin-right: 0px;
    color: green;
}
.subtitle {
    font-size: 1rem;
}
.option-row {
    display: block;
}
.form {
    padding: 0px 10px 0px 10px;
}
::ng-deep .mat-option.mat-option-adder .mat-pseudo-checkbox{ display: none; }

.bool-slider {
    display: block;
    padding: 10px 0px;
}

.bool-slider .mat-slide-toggle-content {
    padding-left: 5px;
}

.select-option-text {
    vertical-align: middle;
}

.select-option-text.remove {
    color: red;
    cursor: pointer;
}

.select-option-text.remove:hover {
    color: rgba(255, 0, 0, 0.479);
    cursor: pointer;
}