<mat-card *ngIf="serviceCount > 0; else noService" (dblclick)=log(currentService)>
    <form class="form" *ngIf="editMode && isLoggedIn; else readOnly">
        <mat-form-field class="width">
            <input matInput class="headline primary-color" placeholder="Bezeichnung" name="serviceName"
                [(ngModel)]="currentService.serviceName">
        </mat-form-field>
        <mat-form-field class="width">
            <input matInput placeholder="Titel" name="serviceTitle" [(ngModel)]="currentService.serviceTitle">
        </mat-form-field>
        <mat-form-field class="width">
            <textarea matInput class="subtitle" placeholder="Beschreibung" name="serviceDescription"
                [(ngModel)]="currentService.serviceDescription"></textarea>
        </mat-form-field>
        <mat-form-field class="width">
            <input matInput placeholder="Verfügbarkeit" name="servcieAvailability"
                [(ngModel)]="currentService.servcieAvailability">
        </mat-form-field>
        <mat-form-field class="width">
            <input matInput placeholder="Service Kategorie" name="cloudServiceCategoryId"
                [(ngModel)]="currentService.cloudServiceCategoryId" [matAutocomplete]="categories">
        </mat-form-field>
        <mat-form-field class="width">
            <input matInput placeholder="Service Provider" name="providerId" [(ngModel)]="currentService.providerId">
        </mat-form-field>
    </form>
    <mat-card-title class="super-headline">
        <span class="spacer"></span>
        <div *ngIf="isLoggedIn" class="option-row">
            <div *ngIf="state == 0">
                <div *ngIf="editMode; else disableReadOnly">
                    <button mat-button (click)=toggleReadOnly()>Bearbeitung
                        deaktivieren
                    </button>
                    <button mat-icon-button class="btn-success" (click)=saveChanges()>
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
                <ng-template #disableReadOnly>
                    <button mat-button (click)=toggleReadOnly()>Bearbeitung aktivieren</button>
                </ng-template>
            </div>
            <div *ngIf="state == 1" style="position: absolute; right: 20px;">
                <mat-spinner diameter="50" color="primary"></mat-spinner>
            </div>
        </div>
    </mat-card-title>
    <ng-template #readOnly>
        <form class="form">
            <mat-form-field class="width">
                <input matInput class="headline primary-color" placeholder="Bezeichnung" name="serviceName"
                    [(ngModel)]="currentService.serviceName" disabled />
            </mat-form-field>
            <mat-form-field class="width">
                <input matInput placeholder="Titel" name="serviceTitle" [(ngModel)]="currentService.serviceTitle"
                    disabled />
            </mat-form-field>
            <mat-form-field class="width">
                <textarea matInput class="subtitle" placeholder="Beschreibung" name="serviceDescription"
                    [(ngModel)]="currentService.serviceDescription" disabled></textarea>
            </mat-form-field>
            <mat-form-field class="width">
                <input matInput placeholder="Verfügbarkeit" name="servcieAvailability"
                    [(ngModel)]="currentService.servcieAvailability" disabled />
            </mat-form-field>
            <mat-form-field class="width">
                <input matInput placeholder="Service Kategorie" name="cloudServiceCategoryId"
                    [(ngModel)]="currentService.cloudServiceCategoryId" [matAutocomplete]="categories" disabled>
            </mat-form-field>
            <mat-form-field class="width">
                <input matInput placeholder="Service Provider" name="providerId" [(ngModel)]="currentService.providerId"
                    disabled>
            </mat-form-field>
        </form>
    </ng-template>
</mat-card>
<ng-template #noService>
    <mat-card>
        <mat-card-title>
            Keine Empfehlungen
        </mat-card-title>
        <mat-card-subtitle>
            Wir haben leider keine Empfehlungen für Sie gefunden.
        </mat-card-subtitle>
    </mat-card>
</ng-template>
<mat-autocomplete #categories="matAutocomplete">
    <mat-option *ngFor="let c of serviceCategories" [value]="c.id">
        {{ c.cloudServiceCategoryName }}
    </mat-option>
</mat-autocomplete>