.table {
    width: 100%;
}
.control {
    cursor: pointer;
    margin-right: 5px;
}
.cell .main {
    display: block;
}
.cell .subtitle {
    display: block;
    color: lightgray;
    font-size: .6rem;
}
.centered-content {
    text-align: center;
}
.control-cell {
    padding: 0px 20px;
}