<div class="component-background">
    <div class="component-background-limiter"></div>
</div>
<div class="content responsive-container" style="height: calc(100% - 80px);">
    <section class="head-tile">
        <span class="super-section-header">Service suchen</span>
        <div>Finden Sie ihren passenden Cloud Storage Service</div>
        <mat-icon class="icon">filter_drama</mat-icon>
        <button class="head-button" (click)="gotoProjectOverview()">Einstellungen</button>
    </section>
    <div class="project-tile" style="min-height: calc(100% - 265px); padding-bottom: 45px;">
        <mat-horizontal-stepper style="width: 100%;" [linear]="isLinear" #stepper>
            <mat-step *ngFor="let step of steps" [stepControl]="step.fg" style="overflow: inherit;">
                <form [formGroup]="step.fg">
                    <ng-template matStepLabel>{{ step.headline }}</ng-template>
                    <ng-container *ngFor="let element of step.options" class="selection-parent">
                        <div *ngIf="isPreviewElement(element) && element.condition(this)"
                            class="preview-option active-{{ element.isActive }}">
                            <div>
                                <mat-icon class="preview-icon">{{ element.icon }}</mat-icon>
                            </div>
                            <div style="flex: 1;">
                                <div class="headline">{{ element.text }}</div>
                                <div class="description">{{ element.desc }}</div>
                            </div>
                            <div class="preview-selection-control">
                                <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                    disabled={{!element.isActive}}></mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="isMultipleSelectionOption(element) && element.condition(this)"
                            class="option active-{{ element.isActive }}">
                            <div class="stretch">
                                <div *ngIf="element.desc != null" class="head-title">
                                    {{ element.desc }}
                                </div>
                                <mat-form-field class="width multiple-selection-option">
                                    <mat-label>{{ element.text }}</mat-label>
                                    <mat-select formControlName={{element.id}} multiple>
                                        <mat-option *ngFor="let option of element.list" [value]="option.id">{{ option }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="element.hasPriority" class="fixed-width">
                                Gewichtung
                                <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true
                                    formControlName="{{element.id}}-prio"></mat-slider>
                            </div>
                        </div>
                        <div *ngIf="isSelectionOption(element) && element.condition(this)"
                            class="option active-{{ element.isActive }}">
                            <div class="stretch">
                                <div *ngIf="element.desc != null" class="head-title">
                                    {{ element.desc }}
                                </div>
                                <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                    disabled={{!element.isActive}}>{{ element.text }}</mat-checkbox>
                            </div>
                            <div *ngIf="element.hasPriority" class="fixed-width">
                                Gewichtung
                                <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true
                                    formControlName="{{element.id}}-prio"></mat-slider>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="project-tile-footer">
            <span style="flex: 1;"></span>
            <div *ngIf="canGoPrevious()" class="footer-btn warning" (click)="previous()">Zurück</div>
            <div *ngIf="this.currentStep.fg.valid && canGoForward()" class="footer-btn default" (click)="next()">Weiter
            </div>
            <div *ngIf="this.isSearchable()" class="footer-btn success" (click)="sendSearch()">Service suchen</div>
        </div>
    </div>
</div>