<div class="component-background">
    <div class="component-background-limiter"></div>
</div>
<div class="content responsive-container" style="height: calc(100% - 80px);" (dblclick)="log(this)">
    <section class="head-tile">
        <span class="super-section-header">
            {{ 'searchvectoreditview.headline' | translate }}
        </span>
        <div>
            {{ 'searchvectoreditview.subtitle' | translate }}
        </div>
        <mat-icon class="icon">filter_drama</mat-icon>
        <button class="head-button" (click)="showSettings = true">
            {{ 'global.settings' | translate }}
        </button>
    </section>
    <div *ngIf="showSettings" class="project-tile settings-tile">
        <mat-icon (click)="showSettings = false" class="closer">
            close
        </mat-icon>
        <div class="headline">
            <mat-icon 
                class="icon"
            >build</mat-icon>
            <span class="text">
                {{ 'searchvectoreditview.settingsheadline' | translate }}
            </span>
        </div>
        <div *ngIf="useCaseSelectionEnabled" class="option" (click)="toggleInputMode(false)">
            <mat-icon 
                class="icon"
            >done</mat-icon>
            <span class="text">
                {{ 'searchvectoreditview.switchtotypesearch' | translate }}
            </span>
        </div>
        <div *ngIf="!useCaseSelectionEnabled" class="option" (click)="toggleInputMode(true)">
            <mat-icon 
                class="icon"
            >done</mat-icon>
            <span class="text">
                {{ 'searchvectoreditview.switchtousecasesearch' | translate }}
            </span>
        </div>
        <div class="option unhoverable">
            <mat-icon 
                class="icon"
            >tune</mat-icon>
            <span class="text">
                {{ 'searchvectoreditview.minsearchpercentage' | translate }}
            </span>
            <mat-slider
                class="slider"
                [max]=100
                [min]=0
                [step]=5
                [thumbLabel]=true
                [tickInterval]=5
                [(ngModel)]="minFulfillmentPercentage"
            ></mat-slider>
        </div>
    </div>
    <div class="project-tile" style="min-height: calc(100% - 265px); padding-bottom: 45px;">
        <mat-horizontal-stepper style="width: 100%;" [linear]=true #stepper>
            <mat-step *ngFor="let step of steps" [stepControl]="step.fg" style="overflow: inherit;">
                <form [formGroup]="step.fg">
                    <ng-template matStepLabel>
                        {{ 'searchvectoreditview.' + step.headline | translate }}
                    </ng-template>
                    <ng-container *ngFor="let element of step.options" class="selection-parent">
                        <div *ngIf="isPreviewElement(element) && element.condition(this)"
                            class="preview-option active-{{ element.isActive }} {{ element.customClass }}">
                            <div *ngIf="element.icon != null">
                                <mat-icon class="preview-icon">{{ element.icon }}</mat-icon>
                            </div>
                            <div style="flex: 1;">
                                <div class="headline">{{ element.text }}</div>
                                <div class="description">{{ element.desc }}</div>
                            </div>
                            <div class="preview-selection-control">
                                <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                    disabled={{!element.isActive}}></mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="isMultipleSelectionOption(element) && element.condition(this)"
                            class="option active-{{ element.isActive }}">
                            <div class="stretch">
                                <div *ngIf="element.desc != null" class="head-title">
                                    {{ 'searchvectoreditview.' + element.desc | translate }}
                                </div>
                                <mat-form-field class="width multiple-selection-option">
                                    <mat-label>{{ 'global.' + element.text | translate }}</mat-label>
                                    <mat-select formControlName={{element.id}} multiple>
                                        <mat-option (click)="noSelection(element)" class="unselect-all-option">Keine Auswahl</mat-option>
                                        <mat-option *ngFor="let option of element.list" [value]="option.id">{{ option }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="element.hasPriority" class="fixed-width">
                                {{ 'global.weight' | translate }}
                                <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true
                                    formControlName="{{element.id}}-prio"></mat-slider>
                            </div>
                        </div>
                        <div *ngIf="isSelectionOption(element) && element.condition(this)"
                            class="option active-{{ element.isActive }}">
                            <div class="stretch">
                                <div *ngIf="element.desc != null" class="head-title">
                                    {{ 'searchvectoreditview.' + element.desc | translate }}
                                </div>
                                <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                    disabled={{!element.isActive}}>{{ element.text }}</mat-checkbox>
                            </div>
                            <div *ngIf="element.hasPriority" class="fixed-width">
                                Gewichtung
                                <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true
                                    formControlName="{{element.id}}-prio"></mat-slider>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
        <div class="project-tile-footer">
            <span style="flex: 1;"></span>
            <div *ngIf="canGoPrevious()" class="footer-btn warning" (click)="previous()">Zurück</div>
            <div *ngIf="this.currentStep.fg.valid && canGoForward()" class="footer-btn default" (click)="next()">Weiter
            </div>
            <div *ngIf="this.isSearchable()" class="footer-btn success" (click)="sendSearch()">Service suchen</div>
        </div>
    </div>
</div>