.preview-option {
    padding: 10px;
    display: flex;
}

.preview-option .preview-icon {
    font-size: 2.2rem;
    height: auto;
    width: auto;
    padding-right: 15px;
    color: #114887;
}

.preview-option .headline {
    border-bottom: 2px solid white;
    font-size: 1.8rem;
}

.preview-option.use-case .headline {
    font-size: 1.3rem;
    border-color: #f5f5f5;
}

.preview-option .description {
    margin: 10px 0px;
    color: rgb(61, 61, 61);
}

.preview-option .preview-selection-control {
    align-self: center;
    padding-left: 20px;
}

.preview-option:hover .headline {
    border-color: #114887;
    transition: all 1s;
}

.option {
    display: flex;
}

.option .stretch {
    flex: 1;
    padding: 10px 20px;
}

.width {
    width: calc(100% - 30px);
}

.option .fixed-width {
    width: 200px;
    padding: 10px 20px;
    background-color: #1e88e50f;
    overflow: hidden;
    color: #595959;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: .9rem;
    align-content: center;
    display: grid;
    text-transform: uppercase;
    text-align: center;
}

.option .slider-width {
    width: 100%;
    overflow: unset;
    min-height: 40px;
}

.multiple-selection-option {
    margin-left: 10px;
}

.head-title {
    color: #353638;
    background-color: #f2f8fd;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.project-tile.settings-tile {
    padding: 10px;
    cursor: default;
    background-color: white;
    display: block;
}

.project-tile.settings-tile .headline {
    padding: 5px;
}

.project-tile.settings-tile .headline .icon {
    height: auto;
    width: auto;
    vertical-align: middle;
    color: grey;
}

.project-tile.settings-tile .headline .text {
    font-size: 1.7rem;
    vertical-align: middle;
}

.project-tile.settings-tile .option {
    padding: 10px 10px 0px 10px;
    width: 100%;
    font-size: 1.2rem;
    display: block;
}

.project-tile.settings-tile .option:not(.unhoverable) {
    cursor: pointer;
}

.project-tile.settings-tile .option .icon {
    vertical-align: middle;
    margin-right: 5px;
    color: #114887;
}

.project-tile.settings-tile .option .text {
    vertical-align: middle;
    color: #303030;
}

.project-tile.settings-tile .option:not(.unhoverable):hover .text {
    color: blue;
}

.unselect-all-option {
    color: #000000;
    background-color: #f5d0d0;
}

.slider {
    display: block;
    margin: 0px 30px;
    width: calc(100% - 60px);
}

.closer {
    position: absolute;
    right: 20px;
    font-size: 2rem;
    top: 10px;
    height: auto;
    width: auto;
    color: #c94848;
    cursor: pointer;
}