<div class="component-background">
    <div class="component-background-limiter"></div>
</div>
<form class="form">
    <div class="content responsive-container">
        <section class="head-tile">
            <mat-form-field class="width">
                <input matInput class="super-section-header" placeholder="Titel" name="projectTitle"
                    [(ngModel)]="currentProject.projectTitle">
            </mat-form-field>
            <mat-form-field class="width">
                <textarea matInput class="subtitle" placeholder="Beschreibung" name="projectDescription"
                    [(ngModel)]="currentProject.projectDescription"></textarea>
            </mat-form-field>
            <mat-icon class="icon">{{ currentProject.icon }}</mat-icon>
            <div>
                <button class="head-button" (click)="gotoProjectDetailView()">Zurück</button>
                <button *ngIf="currentProject.created != null; else postProject" class="head-button" (click)="persistProject()">Änderungen speichern</button>
                <ng-template #postProject>
                    <button class="head-button" (click)="persistProject()">Projekt anlegen</button>
                </ng-template>
            </div>
        </section>
        <div class="project-tile">
            <div class="tile-content">
                <span class="headline">Suchwerte</span>
                <table mat-table [dataSource]="currentProject.valueMapping()" class="category-table">
                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef>Kategorie</th>
                      <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                      <th mat-header-cell *matHeaderCellDef>Werte</th>
                      <td mat-cell *matCellDef="let element">
                          <span *ngFor="let value of element.value" class="value">{{value.toString()}}</span>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
            </div>
        </div>
        <div *ngIf="currentProject.matchingResponse.length > 0; else noMatchingResponse" class="project-tile">
            <div class="tile-content">
                <span class="headline">
                    Suchresultate
                    <span class="counter count-matching-responses">0</span>
                </span>
                <div *ngFor="let response of sortedMatchingResponses" class="inner-tile">
                    <div class="inner-tile-headline">
                        {{ response.title }}
                    </div>
                    <div *ngIf="response.note != null; else noNote" class="inner-tile-subtitle">
                        {{ response.note }}
                    </div>
                    <ng-template #noNote>
                        <div class="inner-tile-subtitle">
                            Keine Notiz hinterlegt
                        </div>
                    </ng-template>
                    <div class="inner-tile-footer">
                        Abgerufen: {{ response.created|date:'dd.MM.yyyy HH:mm' }}
                    </div>
                    <div class="interaction-icon-container">
                        <mat-icon *ngIf="response.isFavored; else notFavored" class="inner-tile-fav-icon favored interaction-icon">
                            star
                        </mat-icon>
                        <mat-icon class="inner-tile-delete-icon interaction-icon"(click)="deleteMatchingResponse(response)">
                            delete_forever
                        </mat-icon>
                        <ng-template #notFavored>
                            <mat-icon class="inner-tile-fav-icon interaction-icon">
                                star_border
                            </mat-icon>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noMatchingResponse>
            <div class="project-tile">
                <div class="tile-content">
                    <span class="headline">Keine Suchresultate</span>
                    <div *ngIf="currentProject.hasSearchValues(); else noSearchVector2">
                        <span class="subtitle">
                            Klicken Sie hier um Services gemäß ihrer Kriterien zu suchen.
                        </span>
                        <mat-icon class="control-icon">send</mat-icon>
                    </div>
                    <ng-template #noSearchVector2>
                        <span class="subtitle">
                            Legen Sie Kriterien fest bevor Sie nach Services suchen.
                        </span>
                        <mat-icon class="control-icon">add</mat-icon>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>
</form>