<mat-toolbar #navbar style="background-color: #114887; color: white; overflow: hidden;" class="navbar">
  <mat-toolbar-row style="padding-right: 0px;">
    <span class="label" (click)="setState(0)">
      <mat-icon class="icon" matTooltip="Zur Startseite">cloud</mat-icon>
    </span>
    <span class="small" (click)="setState(1)">Service suchen</span>
    <span *ngIf="canCreateServices" class="small" (click)="setState(6)"
      >Service anlegen</span
    >
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="setState(7)">Services Verwalten</button>
      <button mat-menu-item (click)="setState(15)">Use-Cases Verwalten</button>
      <button mat-menu-item (click)="setState(5)">Verwaltung</button>
    </mat-menu>

    <span class="small" [matMenuTriggerFor]="appMenu" *ngIf="canCreateServices"
      >Verwalten</span
    >

    <span class="spacer"></span>

    <div *ngIf="isLoggedIn; else login">
      <div
        class="small username"
        id="current-username"
        (click)="openUserDetailDialog()"
      >{{ username }}</div>
      <mat-icon
        (click)="logout()"
        class="element small-element logout"
        matTooltip="Abmelden"
        >power_settings_new</mat-icon
      >
    </div>
    <ng-template #login>
      <mat-icon
        (click)="openRegisterDialog()"
        class="element small-element register"
        matTooltip="Registrieren"
      >person_add</mat-icon>
      <mat-icon
        (click)="openLoginDialog()"
        class="element small-element login"
        matTooltip="Anmelden"
      >person</mat-icon>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
