<mat-toolbar #navbar style="background-color: #114887; color: white; overflow: hidden;" class="navbar">
  <mat-toolbar-row style="padding-right: 0px;">
    <span class="label" (click)="setState(0)">
      <mat-icon class="icon" matTooltip="{{ 'navbar.gotodashboard' | translate }}">
        cloud
      </mat-icon>
    </span>
    <span class="small" (click)="setState(1)">
      {{ 'navbar.searchservice' | translate }}
    </span>
    <span *ngIf="canCreateServices" class="small" (click)="setState(6)">
      {{ 'navbar.createservice' | translate }}
    </span>
    <span class="small" [matMenuTriggerFor]="managementSelection" *ngIf="canCreateServices">
      {{ 'navbar.manage' | translate }}
    </span>
    <span class="spacer"></span>
    <div style="position: relative;">
      <mat-icon
        class="element small-element language"
        matTooltip="{{ 'global.language' | translate }}"
        [matMenuTriggerFor]="languageSelection"
      >language</mat-icon>
      <span class="flag-icon {{ currentLanguageFlag }}" style="
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 100px;
        overflow: hidden;
        width: 19px;"
      ></span>
    </div>
    <div *ngIf="isLoggedIn; else login">
      <div
        class="small username"
        id="current-username"
        (click)="openUserDetailDialog()"
      >{{ username }}</div>
      <mat-icon
        (click)="logout()"
        class="element small-element logout"
        matTooltip="Abmelden"
        >power_settings_new</mat-icon
      >
    </div>
    <ng-template #login>
      <mat-icon
        (click)="openRegisterDialog()"
        class="element small-element register"
        matTooltip="{{ 'global.register' | translate }}"
      >person_add</mat-icon>
      <mat-icon
        (click)="openLoginDialog()"
        class="element small-element login"
        matTooltip="{{ 'global.login' | translate }}"
      >person</mat-icon>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #managementSelection="matMenu">
  <button mat-menu-item (click)="setState(7)">
    {{ 'navbar.manageservices' | translate }}
  </button>
  <button mat-menu-item (click)="setState(15)">
    {{ 'navbar.manageusecases' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.managedatalocations' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.managecertificates' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.managedeploymentinfos' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.manageservicemodels' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.managedatalocations' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.manageproviders' | translate }}
  </button>
  <button mat-menu-item (click)="setState(1)">
    {{ 'navbar.managestoragetypes' | translate }}
  </button>
  <button mat-menu-item (click)="setState(5)">
    {{ 'navbar.management' | translate }}
  </button>
</mat-menu>
<mat-menu #languageSelection="matMenu">
  <button mat-menu-item (click)="useLanguage('de')">
    <span class="flag-icon flag-icon-de"></span>
    {{ 'global.de' | translate }}
  </button>
  <button mat-menu-item (click)="useLanguage('en')">
    <span class="flag-icon flag-icon-us"></span>
    {{ 'global.en' | translate }}
  </button>
</mat-menu>