.navbar {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.example-icon {
    padding: 0 14px;
    cursor: pointer;
}

.example-icon:hover, .small:hover, .label:hover {
    color: rgba(255, 255, 255, .7);
}

.label {
    margin-right: 20px;
    cursor: pointer;
}

.label .icon {
    vertical-align: sub;
    font-size: 2rem;
}

.small {
    padding: 0px 10px;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
}

.element {
    cursor: pointer;
}

.small-element {
    vertical-align: baseline;
    font-size: 1.4rem;
}

.username {
    vertical-align: bottom;
    display: inline-block;
    padding: 16px 20px;
    background-color: #00000036;
    font-size: 18px;
}

.small-element.logout {
    padding: 17px;
    font-size: 30px;
    width: auto;
    height: auto;
    background-color: #ab3636;
}

.small-element.login {
    padding: 17px;
    font-size: 30px;
    width: auto;
    height: auto;
    background-color: #00000059;
}

.small-element.register {
    padding: 17px;
    font-size: 30px;
    width: auto;
    height: auto;
}

.small-element.language {
    padding: 17px;
    font-size: 30px;
    width: auto;
    height: auto;
}