.example-icon {
    padding: 0 14px;
    cursor: pointer;
}

.example-icon:hover, .small:hover, .label:hover {
    color: rgba(255, 255, 255, .7);
}

.label {
    margin-right: 20px;
    cursor: pointer;
}

.label .icon {
    vertical-align: sub;
    font-size: 2rem;
}

.small {
    padding: 0px 10px;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
}

.element {
    cursor: pointer;
}

.small-element {
    vertical-align: baseline;
    font-size: 1.4rem;
}