<div *ngIf="service != null; else error">
    <div id="servicPreviewHeader" class="section l-primary-bg" style="color: white;" (window:resize)="onResize($event)">
        <span class="super-section-header">
            {{ service.serviceName }}
            <span class="extension">
                {{ serviceType }}
            </span>
        </span>
    </div>
    <div class="body">
        <div class="sidebar">
            <div *ngIf="collapseSidebar" class="collapsed">
                <mat-icon class="icon" (click)=toggleSidebar()>
                    menu
                </mat-icon>
                <mat-icon *ngFor="let element of services" class="icon" (click)=setService(element)>
                    {{ element.constructor.icon }}
                </mat-icon>
            </div>
            <div *ngIf="!collapseSidebar" class="not-collapsed">
                <div class="sidebar-option" (click)=toggleSidebar()>
                    <mat-icon class="icon">
                        arrow_back
                    </mat-icon>
                    <div class="text">Menü verstecken</div>
                </div>
                <div *ngFor="let element of matchingResponses" class="sidebar-option" (click)=setService(element.service)>
                    <mat-icon class="icon">
                        {{ element.service.constructor.icon }}
                    </mat-icon>
                    <div class="text">{{ element.service.toString() }}<span class="percentage-badge {{ classForPercentage(element.percentage) }}">{{ element.percentage }}%</span></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <mat-grid-list *ngIf="isInit" cols="3" rowHeight={{rowHeight}} gutterSize={{gap}}>
                <mat-grid-tile [colspan]="2" [rowspan]="2" class="tile">
                    <div class="tile-inner">
                        <div class="custom-card">
                            <div class="icon-container">
                                <mat-icon class="icon">subject</mat-icon>
                            </div>
                            <div>
                                <div *ngIf="service.serviceTitle != null || service.serviceDescription != null; else noMetadata"
                                    class="content">
                                    <span class="subtitle">Details von {{ service.serviceName }}</span>
                                    <span *ngIf="service.serviceTitle != null"
                                        class="title">{{ service.serviceTitle }}</span>
                                    <span *ngIf="service.serviceDescription != null"
                                        class="small-title">{{ service.serviceDescription }}</span>
                                </div>
                                <ng-template #noMetadata>
                                    <div class="content">
                                        <span class="subtitle">Weitere Details</span>
                                        <span class="title empty-title">Keine Details hinterlegt</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Service Art</span>
                                <span class="title">
                                    {{ service.cloudServiceCategory.cloudServiceCategoryName }}
                                </span>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="icon-container">
                                <mat-icon class="icon">domain</mat-icon>
                            </div>
                            <div class="content">
                                <span class="subtitle">Informationen des Anbieters</span>
                                <span class="title">
                                    {{ service.provider.providerName }}
                                    <mat-icon *ngIf="service.provider.verified; else notVerified"
                                        class="veri-icon verified" matTooltip="Verifizierter Anbieter">verified_user
                                    </mat-icon>
                                    <ng-template #notVerified>
                                        <mat-icon class="veri-icon not-verified"
                                            matTooltip="Nicht verifizierter Anbieter">
                                            security</mat-icon>
                                    </ng-template>
                                </span>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="icon-container">
                                <mat-icon class="icon">assignment_turned_in</mat-icon>
                            </div>
                            <div class="content">
                                <span class="subtitle">Zertifizierungen</span>
                                <div *ngIf="service.certificates.length > 0; else noCertificates">
                                    <div *ngFor="let certificate of service.certificates">
                                        <span class="title">{{ certificate.certificateName }}</span>
                                    </div>
                                </div>
                                <ng-template #noCertificates>
                                    <span class="title empty-title">Keine Zertifikate hinterlegt</span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile">
                    <canvas id="fulfillment-dough" style="height: 100%; width: 100%; background-color: white;"></canvas>
                    <div class="dough-counter">
                        <div class="text" id="fulfillment-dough-counter"></div>
                        <div class="subtitle">Übereinstimmung</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile">
                    <canvas id="fulfillment-net" style="height: 100%; width: 100%; background-color: white;"></canvas>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
<ng-template #error>FEHLER: SERVICE IST NULL</ng-template>