<div *ngIf="service != null; else error">
    <div id="servicPreviewHeader" class="section l-primary-bg" style="color: white;" (window:resize)="onResize($event)">
        <span class="super-section-header">
            {{ service.serviceName }}
            <span class="extension">
                {{ serviceType }}
            </span>
        </span>
    </div>
    <div class="body">
        <div class="sidebar">
            <div *ngIf="collapseSidebar" class="collapsed">
                <mat-icon class="icon" (click)=toggleSidebar()>
                    menu
                </mat-icon>
                <mat-icon *ngFor="let element of services" class="icon" (click)=setService(element)>
                    {{ element.constructor.icon }}
                </mat-icon>
            </div>
            <div *ngIf="!collapseSidebar" class="not-collapsed">
                <div class="sidebar-option" (click)=toggleSidebar()>
                    <mat-icon class="icon">
                        arrow_back
                    </mat-icon>
                    <div class="text">Menü verstecken</div>
                </div>
                <div *ngFor="let element of matchingResponses" class="sidebar-option" (click)=setService(element.service)>
                    <mat-icon class="icon">
                        {{ element.service.constructor.icon }}
                    </mat-icon>
                    <div class="text">{{ element.service.toString() }}
                        <span matTooltip="Erfüllungsgrad ({{ element.percentage }}%)" class="percentage-badge {{ classForPercentage(element.percentage) }}">
                            {{ element.percentage }}%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <mat-grid-list *ngIf="isInit" cols="3" rowHeight={{rowHeight}} gutterSize={{gap}}>
                <mat-grid-tile [colspan]="2" [rowspan]="2" class="tile">
                    <div class="tile-inner">
                        <div class="custom-card">
                            <div class="icon-container">
                                <mat-icon class="icon">subject</mat-icon>
                            </div>
                            <div>
                                <div *ngIf="service.serviceTitle != null || service.serviceDescription != null; else noMetadata"
                                    class="content">
                                    <span class="subtitle">Details von {{ service.serviceName }}</span>
                                    <span *ngIf="service.serviceTitle != null"
                                        class="title">{{ service.serviceTitle }}</span>
                                    <span *ngIf="service.serviceDescription != null"
                                        class="small-title">{{ service.serviceDescription }}</span>
                                </div>
                                <ng-template #noMetadata>
                                    <div class="content">
                                        <span class="subtitle">Weitere Details</span>
                                        <span class="title empty-title">Keine Details hinterlegt</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Kategorie</span>
                                <span *ngIf="categorySetted(); else noCategory" class="title">
                                    {{ service.cloudServiceCategory.cloudServiceCategoryName }}
                                </span>
                                <ng-template #noCategory>
                                    <span class="title notSetted">Keine Kategorie angegeben</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Servicemodell</span>
                                <span *ngIf="modelSetted(); else noModel" class="title">
                                    {{ service.cloudServiceModel.cloudServiceModelName }}
                                </span>
                                <ng-template #noModel>
                                    <span class="title notSetted">Kein Servicemodell angegeben</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Informationen des Anbieters</span>
                                <span *ngIf="providerSetted(); else noProvider" class="title">
                                    {{ service.provider.providerName }}
                                    <mat-icon *ngIf="service.provider.verified; else notVerified"
                                        class="veri-icon verified" matTooltip="Verifizierter Anbieter">verified_user
                                    </mat-icon>
                                    <ng-template #notVerified>
                                        <mat-icon class="veri-icon not-verified"
                                            matTooltip="Nicht verifizierter Anbieter">
                                            security</mat-icon>
                                    </ng-template>
                                </span>
                                <ng-template #noProvider>
                                    <span class="title notSetted">Keine Speichertechnologie angegeben</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Lokalisierung</span>
                                <div *ngIf="dataLocations > 0; else noDataLocations">
                                    <div *ngFor="let element of dataLocations">
                                        <span class="title">{{ element.toString() }}</span>
                                    </div>
                                </div>
                                <ng-template #noDataLocations>
                                    <span class="title empty-title">Keine Lokalisierungen hinterlegt</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Zertifizierungen</span>
                                <div *ngIf="service.certificates.length > 0; else noCertificates">
                                    <div *ngFor="let certificate of service.certificates">
                                        <span class="title">{{ certificate.certificateName }}</span>
                                    </div>
                                </div>
                                <ng-template #noCertificates>
                                    <span class="title empty-title">Keine Zertifikate hinterlegt</span>
                                </ng-template>
                            </div>
                        </div>
                        <div *ngIf="matchingResponse.search.storageType.isSearchable" class="custom-card">
                            <div class="content">
                                <span class="subtitle">Speichertechnologie</span>
                                <span *ngIf="storageTypeSetted(); else noStorageType" class="title">
                                    {{ service.storageType.storageTypeDescription }}
                                </span>
                                <ng-template #noStorageType>
                                    <span class="title notSetted">Keine Speichertechnologie angegeben</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="custom-card">
                            <div class="content">
                                <span class="subtitle">Weitere Eigenschaften</span>
                                <div *ngIf="matchingResponse.search.hasFileEncryption.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasFileEncryption; else noFileEncryption" class="icon success">done</mat-icon>
                                    <ng-template #noFileEncryption>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Dateiverschlüsselung</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasReplication.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasReplication; else noReplication" class="icon success">done</mat-icon>
                                    <ng-template #noReplication>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Replikation</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasFileCompression.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasFileCompression; else noFileCompression" class="icon success">done</mat-icon>
                                    <ng-template #noFileCompression>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Dateikomprimierung</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasFilePermissions.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasFilePermissions; else noFilePermissions" class="icon success">done</mat-icon>
                                    <ng-template #noFilePermissions>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Dateiberechtigungen</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasFileLocking.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasFileLocking; else noFileLocking" class="icon success">done</mat-icon>
                                    <ng-template #noFileLocking>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Filelocking</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasDBMS.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasDBMS; else noDBMS" class="icon success">done</mat-icon>
                                    <ng-template #noDBMS>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Datenbankmanagementsystem</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasFileVersioning.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasFileVersioning; else noFileVersioning" class="icon success">done</mat-icon>
                                    <ng-template #noFileVersioning>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Dateiversionierung</span>
                                </div>
                                <div *ngIf="matchingResponse.search.hasAutomatedSynchronisation.isSearchable" class="boolean-entry">
                                    <mat-icon *ngIf="service.hasAutomatedSynchronisation; else noAutomatedSync" class="icon success">done</mat-icon>
                                    <ng-template #noAutomatedSync>
                                        <mat-icon class="icon danger">clear</mat-icon>
                                    </ng-template>
                                    <span>Automatische Synchronisation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile">
                    <canvas id="fulfillment-dough" style="height: 100%; width: 100%; background-color: white;"></canvas>
                    <div class="dough-counter">
                        <div class="text" id="fulfillment-dough-counter"></div>
                        <div class="subtitle">Übereinstimmung</div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile">
                    <canvas id="fulfillment-net" style="height: 100%; width: 100%; background-color: white;"></canvas>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
<ng-template #error>FEHLER: SERVICE IST NULL</ng-template>