.matching-counter {
    position: absolute;
    font-size: 1rem;
    top: calc(50% - .5rem);
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.matching-chart-container {
    width: 150px;
    position: relative;
    background-color: white;
    display: flex;
}
.matching-chart-container > * {
    align-self: center;
    width: 100%;
}
.match-badge-container:not(:empty) {
    margin-top: 20px;
}
.match-badge-container .badge-label {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 3px;
    margin-right: 2px;
    margin-top: 2px;
}
.tile-content .match-badge {
    font-size: 1rem;
    vertical-align: middle;
    white-space: initial;
}
.tile-content .badge-success {
    background-color: #e1e9d8;
}
.tile-content .badge-icon {
    vertical-align: bottom;
    height: auto;
    width: auto;
    margin-right: 5px;
    font-size: 1rem;
}
.tile-content .badge-success .badge-icon {
    color: green;
}
.tile-content .badge-danger {
    background-color: #f6d5db;
}
.tile-content .badge-danger .badge-icon {
    color: #ff002e;
}