<mat-card *ngIf="currentService != null; else noService" class="main-content">
    <form class="form">

        <mat-form-field class="width">
            <input
                matInput 
                class="headline primary-color" 
                placeholder="{{ 'seviceEditViewInner.name' | translate }}" 
                name="serviceName"
                [(ngModel)]="currentService.serviceName"
            >
        </mat-form-field>

        <!-- service data de -->
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-de prefix"></span>
            <input 
                matInput 
                placeholder="{{ 'seviceEditViewInner.titleDE' | translate }}" 
                name="serviceTitleDE" 
                [(ngModel)]="currentService.serviceTitleDE"
            >
        </mat-form-field>
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-de prefix"></span>
            <textarea 
                matInput 
                class="subtitle" 
                placeholder="{{ 'seviceEditViewInner.descriptionDE' | translate }}" 
                name="serviceDescriptionDE" 
                [(ngModel)]="currentService.serviceDescriptionDE"
            ></textarea>
        </mat-form-field>

        <!-- service data en -->
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-us prefix"></span>
            <input 
                matInput 
                placeholder="{{ 'seviceEditViewInner.titleEN' | translate }}" 
                name="serviceTitleEN" 
                [(ngModel)]="currentService.serviceTitleEN"
            >
        </mat-form-field>
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-us prefix"></span>
            <textarea 
                matInput 
                class="subtitle" 
                placeholder="{{ 'seviceEditViewInner.descriptionEN' | translate }}" 
                name="serviceDescriptionEN" 
                [(ngModel)]="currentService.serviceDescriptionEN"
            ></textarea>
        </mat-form-field>

        <!-- service data es -->
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-es prefix"></span>
            <input 
                matInput 
                placeholder="{{ 'seviceEditViewInner.titleES' | translate }}" 
                name="serviceTitleES" 
                [(ngModel)]="currentService.serviceTitleES"
            >
        </mat-form-field>
        <mat-form-field class="width">
            <span matPrefix class="flag-icon flag-icon-es prefix"></span>
            <textarea 
                matInput 
                class="subtitle" 
                placeholder="{{ 'seviceEditViewInner.descriptionES' | translate }}" 
                name="serviceDescriptionES" 
                [(ngModel)]="currentService.serviceDescriptionES"
            ></textarea>
        </mat-form-field>

        <!-- service availability -->
        <mat-form-field class="width">
            <input 
                matInput 
                placeholder="{{ 'seviceEditViewInner.availability' | translate }}" 
                name="serviceAvailability"
                [(ngModel)]="currentService.serviceAvailability"
            >
        </mat-form-field>

        <!-- service model -->
        <mat-form-field class="width">
            <mat-select 
                placeholder="{{ 'global.servicemodel' | translate }}"  
                [ngModel]="currentService.cloudServiceModelId"
                (ngModelChange)="currentService.cloudServiceModelId=$event"
                name="cloudServiceModelId"
            >
                <mat-option *ngFor="let m of serviceModels" [value]="m.id">
                    {{ m.cloudServiceModelName }}
                </mat-option>
                <mat-option (click)="showServiceModelAdder=true;" class="mat-option-adder">
                    <mat-icon class="icon">add</mat-icon>
                    {{ 'seviceEditViewInner.addservicemodel' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="showServiceModelAdder" [formGroup]="serviceModelFg" class="adder-container">
            <div class="adder-headline">
                <span class="text">
                    {{ 'seviceEditViewInner.addservicemodel' | translate }}
                </span>
                <mat-icon class="closer" (click)="showServiceModelAdder=false">clear</mat-icon>
            </div>
            <div class="adder-content">
                <div class="adder-content-left-column">
                    <mat-form-field class="add-on">
                        <input 
                            matInput 
                            formControlName="cloudServiceModelName" 
                            placeholder="{{ 'seviceEditViewInner.servicemodelname' | translate }}"
                        />
                        <mat-icon matPrefix class="prefix-icon">subject</mat-icon>
                    </mat-form-field>
                    <div *ngIf="newServiceModelName.touched && newServiceModelName.invalid" class="alert alert-danger">
                        <div *ngIf="newServiceModelName.errors.required">
                            {{ 'seviceEditViewInner.servicemodelnamerequired' | translate }}
                        </div>
                    </div>
                </div>
                <div class="adder-content-right-column">
                    <button 
                        class="add-on-button" 
                        mat-raised-button color="primary"
                        (click)="addServiceModel()"
                        [disabled]="newServiceModelName.invalid"
                    >
                        {{ 'global.create' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- datalocations -->
        <mat-form-field class="width">
            <mat-label>
                {{ 'global.datalocation' | translate }}
            </mat-label>
            <mat-select (selectionChange)="setDataLocations($event)" [value]="currentService.dataLocationIds" multiple>
                <mat-option *ngFor="let l of dataLocations" [value]="l.id">
                    {{l.toString()}}
                </mat-option>
                <mat-option (click)="showDataLocationAdder = true" class="mat-option-adder">
                    <mat-icon class="icon">add</mat-icon>
                    {{ 'seviceEditViewInner.adddatalocation' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="showDataLocationAdder" [formGroup]="dataLocationFg" class="adder-container">
            <div class="adder-headline">
                <span class="text">
                    {{ 'seviceEditViewInner.adddatalocation' | translate }}
                </span>
                <mat-icon class="closer" (click)="showDataLocationAdder=false">clear</mat-icon>
            </div>
            <div class="adder-content">
                <div class="adder-content-left-column">
                    <mat-form-field class="add-on">
                        <span matPrefix class="flag-icon flag-icon-de prefix"></span>
                        <input 
                            matInput 
                            formControlName="dataLocationNameDE" 
                            placeholder="{{ 'seviceEditViewInner.datalocationnameDE' | translate }}"
                        />
                        <mat-icon matSuffix class="prefix-icon">location_on</mat-icon>
                    </mat-form-field>
                    <div *ngIf="newDataLocationNameDE.touched && newDataLocationNameDE.invalid" class="alert alert-danger">
                        <div 
                            *ngIf="newDataLocationNameDE.errors.required"
                        >
                            {{ 'seviceEditViewInner.datalocationnamerequired' | translate }}
                        </div>
                    </div>
                    <mat-form-field class="add-on">
                        <span matPrefix class="flag-icon flag-icon-us prefix"></span>
                        <input 
                            matInput 
                            formControlName="dataLocationNameEN" 
                            placeholder="{{ 'seviceEditViewInner.datalocationnameEN' | translate }}"
                        />
                        <mat-icon matSuffix class="prefix-icon">location_on</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="add-on">
                        <span matPrefix class="flag-icon flag-icon-es prefix"></span>
                        <input 
                            matInput 
                            formControlName="dataLocationNameES" 
                            placeholder="{{ 'seviceEditViewInner.datalocationnameES' | translate }}"
                        />
                        <mat-icon matSuffix class="prefix-icon">location_on</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="add-on">
                        <mat-label>
                            {{ 'global.datalocationtypename' | translate }}
                        </mat-label>
                        <mat-select formControlName="dataLocationType">
                            <mat-option *ngFor="let t of dataLocationTypes" [value]="t.id">
                                {{t.toString()}}
                            </mat-option>
                            <mat-option (click)="showDataLocationTypeAdder=true" class="mat-option-adder">
                                <mat-icon class="icon">add</mat-icon>
                                {{ 'global.create' | translate }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matPrefix class="prefix-icon">
                            public
                        </mat-icon>
                    </mat-form-field>
                    <div *ngIf="newDataLocationType.touched && newDataLocationType.invalid" class="alert alert-danger">
                        <div *ngIf="newDataLocationType.errors.required">
                            {{ 'seviceEditViewInner.datalocationtyperequired' | translate }}
                        </div>
                    </div>
                    <div *ngIf="showDataLocationTypeAdder" [formGroup]="dataLocationTypeFg" class="adder-container inner-adder-container">
                        <div class="adder-headline">
                            <span class="text">
                                {{ 'seviceEditViewInner.adddatalocationtype' | translate }}
                            </span>
                            <mat-icon class="closer" (click)="showDataLocationTypeAdder=false">clear</mat-icon>
                        </div>
                        <div class="adder-content">
                            <div class="adder-content-left-column">
                                <mat-form-field class="add-on">
                                    <span matPrefix class="flag-icon flag-icon-de prefix"></span>
                                    <input 
                                        matInput 
                                        formControlName="typeNameDE" 
                                        placeholder="{{ 'seviceEditViewInner.datalocationtypenameDE' | translate }}"
                                    />
                                    <mat-icon matSuffix class="prefix-icon">public</mat-icon>
                                </mat-form-field>
                                <div
                                    *ngIf="newDataLocationTypeNameDE.touched && newDataLocationTypeNameDE.invalid" 
                                    class="alert alert-danger"
                                >
                                    <div *ngIf="newDataLocationTypeNameDE.errors.required">
                                        {{ 'seviceEditViewInner.datalocationtypenamerequired' | translate }}
                                    </div>
                                </div>
                                <mat-form-field class="add-on">
                                    <span matPrefix class="flag-icon flag-icon-us prefix"></span>
                                    <input 
                                        matInput 
                                        formControlName="typeNameEN" 
                                        placeholder="{{ 'seviceEditViewInner.datalocationtypenameEN' | translate }}"
                                    />
                                    <mat-icon matSuffix class="prefix-icon">public</mat-icon>
                                </mat-form-field>
                                <mat-form-field class="add-on">
                                    <span matPrefix class="flag-icon flag-icon-es prefix"></span>
                                    <input 
                                        matInput 
                                        formControlName="typeNameES" 
                                        placeholder="{{ 'seviceEditViewInner.datalocationtypenameES' | translate }}"
                                    />
                                    <mat-icon matSuffix class="prefix-icon">public</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="adder-content-right-column">
                                <button 
                                    class="add-on-button" 
                                    mat-raised-button color="primary"
                                    (click)="addDataLocationType()"
                                    [disabled]="newDataLocationTypeNameDE.invalid || newDataLocationTypeNameDE.invalid"
                                >
                                    {{ 'global.create' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adder-content-right-column">
                    <button 
                        class="add-on-button" 
                        mat-raised-button color="primary"
                        (click)="addDataLocation()"
                        [disabled]="newDataLocationNameDE.invalid || newDataLocationType.invalid"
                    >
                        {{ 'global.create' | translate }}
                    </button>
                </div>
            </div>
        </div>
        
        <!-- certificates -->
        <mat-form-field class="width">
            <mat-label>
                {{ 'global.certificate' | translate }}
            </mat-label>
            <mat-select (selectionChange)="setCertificates($event)" [value]="currentService.certificateIds" multiple>
                <mat-option *ngFor="let c of certificates" [value]="c.id">
                    {{ c.certificateName }}
                </mat-option>
                <mat-option (click)="showCertAdder = true" class="mat-option-adder">
                    <mat-icon class="icon">add</mat-icon>
                    {{ 'seviceEditViewInner.addcertificate' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="showCertAdder" [formGroup]="certificateFg" class="adder-container">
            <div class="adder-headline">
                <span class="text">
                    {{ 'seviceEditViewInner.addcertificate' | translate }}
                </span>
                <mat-icon class="closer" (click)="showCertAdder=false">clear</mat-icon>
            </div>
            <div class="adder-content">
                <div class="adder-content-left-column">
                    <mat-form-field class="add-on">
                        <input 
                            matInput 
                            formControlName="certificateName" 
                            placeholder="{{ 'seviceEditViewInner.certificatename' | translate }}"
                        />
                        <mat-icon matPrefix class="prefix-icon">assessment</mat-icon>
                    </mat-form-field>
                    <div *ngIf="newCertificateName.touched && newCertificateName.invalid" class="alert alert-danger">
                        <div *ngIf="newCertificateName.errors.required">
                            {{ 'seviceEditViewInner.certificatenamerequired' | translate }}
                        </div>
                    </div>
                </div>
                <div class="adder-content-right-column">
                    <button 
                        class="add-on-button" 
                        mat-raised-button color="primary"
                        (click)="addCertificate()"
                        [disabled]="newCertificateName.invalid"
                    >
                        {{ 'global.create' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- storage type -->
        <mat-form-field *ngIf="displayStorageType" class="width">
            <mat-label>
                {{ 'global.storagetype' | translate }}
            </mat-label>
            <mat-select
                [ngModel]="currentService.storageTypeId"
                (ngModelChange)="currentService.storageTypeId=$event"
                name="storageTypeId"
            >
                <mat-option *ngFor="let t of storageTypes" [value]="t.id">
                    {{ t.storageTypeDescription }}
                </mat-option>
                <mat-option (click)="showStorageTypeAdder=true;" class="mat-option-adder">
                    <mat-icon class="icon">add</mat-icon>
                    {{ 'seviceEditViewInner.addstoragetype' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="showStorageTypeAdder" [formGroup]="storageTypeFg" class="adder-container">
            <div class="adder-headline">
                <span class="text">
                    {{ 'seviceEditViewInner.addstoragetype' | translate }}
                </span>
                <mat-icon class="closer" (click)="showStorageTypeAdder=false">clear</mat-icon>
            </div>
            <div class="adder-content">
                <div class="adder-content-left-column">
                    <mat-form-field class="add-on">
                        <input 
                            matInput 
                            formControlName="storageTypeDescription" 
                            placeholder="{{ 'seviceEditViewInner.storagetypedescription' | translate }}"
                        />
                        <mat-icon matPrefix class="prefix-icon">devices</mat-icon>
                    </mat-form-field>
                    <div *ngIf="newStorageTypeDescription.touched && newStorageTypeDescription.invalid" class="alert alert-danger">
                        <div *ngIf="newStorageTypeDescription.errors.required">
                            {{ 'seviceEditViewInner.storagetypedescriptionrequired' | translate }}
                        </div>
                    </div>
                </div>
                <div class="adder-content-right-column">
                    <button 
                        class="add-on-button" 
                        mat-raised-button color="primary"
                        (click)="addStorageType()"
                        [disabled]="newStorageTypeDescription.invalid"
                    >
                        {{ 'global.create' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- providers -->
        <mat-form-field class="width">
            <mat-label>
                {{ 'global.provider' | translate }}
            </mat-label>
            <mat-select
                [ngModel]="currentService.providerId"
                (ngModelChange)="currentService.providerId=$event" 
                name="providerId"
            >
                <mat-option *ngFor="let p of providers" [value]="p.id">
                    {{ p.providerName }}
                </mat-option>
                <mat-option (click)="showProviderAdder=true;" class="mat-option-adder">
                    <mat-icon class="icon">add</mat-icon>
                    {{ 'seviceEditViewInner.addprovider' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <form *ngIf="showProviderAdder" [formGroup]="providerFg" class="adder-container">
            <div class="adder-headline">
                <span class="text">
                    {{ 'seviceEditViewInner.addprovider' | translate }}
                </span>
                <mat-icon class="closer" (click)="showProviderAdder=false">clear</mat-icon>
            </div>
            <div class="adder-content">
                <div class="adder-content-left-column">
                    <mat-form-field class="add-on">
                        <input 
                            matInput 
                            formControlName="providerName" 
                            placeholder="{{ 'seviceEditViewInner.providername' | translate }}"
                        />
                        <mat-icon matPrefix class="prefix-icon">domain</mat-icon>
                    </mat-form-field>
                    <div 
                        *ngIf="newProviderName.touched && newProviderName.invalid" 
                        class="alert alert-danger"
                    >
                        <div *ngIf="newProviderName.errors.required">
                            {{ 'seviceEditViewInner.providernamerequired' | translate }}
                        </div>
                    </div>
                    <mat-form-field class="add-on">
                        <input 
                            matInput 
                            formControlName="providerUrl" 
                            placeholder="{{ 'seviceEditViewInner.providerurl' | translate }}"
                        />
                        <mat-icon matPrefix class="prefix-icon">call_split</mat-icon>
                    </mat-form-field>
                </div>
                <div class="adder-content-right-column">
                    <button 
                        class="add-on-button" 
                        mat-raised-button color="primary"
                        (click)="addProvider()"
                        [disabled]="newProviderName.invalid"
                    >
                        {{ 'global.create' | translate }}
                    </button>
                </div>
            </div>
        </form>

    </form>
    
</mat-card>
<ng-template #noService>
    FEHLER
</ng-template>