.example-chip-list {
    width: 100%;
}

.small-cell {
    width: 1px;
    padding-right: 20px;
}

.selector {
    width: auto;
    margin: 20px;
}

.section {
    padding: 20px;
}

.content-section {
    border-bottom: 1px solid #f0f0f0;
    margin: 0px 20px;
}

.super-section-header {
    font-size: 3rem;
    display: block;
    padding: 20px 0px;
    text-transform: uppercase;
}

.section-header {
    font-size: 1.5rem;
    display: block;
    padding: 10px 0px;
}