.image-grid {
    text-align: center;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.image-container {
    display: inline-block;
    height: 200px; 
    width: 200px; 
    position: relative;
    vertical-align: top;
    border: 5px solid white;
    cursor: pointer;
}

.image-container[data-selected=true] {
    border-color: #76b54d;
}

.image-grid .image {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-container:hover {
    border-color: #13377c;
}

.confirm {
    padding: 5px;
    font-size: 3rem;
    height: auto;
    width: auto;
    color: #76b54d;
    border: 2px solid;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.cancel {
    padding: 5px;
    font-size: 3rem;
    height: auto;
    width: auto;
    color: #b43939;
    border: 2px solid;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.no-image {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    line-height: 200px;
    background-color: #e8e8e8;
    border-radius: 20px;
    cursor: pointer;
}

.no-image .icon {
    height: auto;
    width: auto;
    font-size: 5rem;
    color: #c94444;
    vertical-align: middle;
}