<div class="form" *ngIf="isLoggedIn; else login">
    <!--
    <button mat-stroked-button color="primary">
        Ausloggen
    </button>
    -->
</div>
<ng-template #login>
    <div class="headline">
        <mat-icon class="icon">person</mat-icon>
        User Login
    </div>
    <div class="sub-title">
        Bitte melden Sie sich an um alle Funktionen zu nutzen
    </div>
    <mat-form-field class="width">
        <input matInput placeholder="Benutzername" name="username" [(ngModel)]="user.username">
    </mat-form-field>
    <mat-form-field class="width">
        <input matInput placeholder="Passwort" name="password" type="password" [(ngModel)]="user.password">
    </mat-form-field>
    <div *ngIf="state == 0">
        <button mat-stroked-button color="primary" (click)=loginUser()>
            Einloggen
        </button>
    </div>
    <div *ngIf="state == 1" style="position: absolute; right: 20px;">
        <mat-spinner diameter="50" color="primary"></mat-spinner>
    </div>
</ng-template>