@import './theme.scss';

/* You can add global styles to this file, and also import other style files */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana";
}

.spacer {
  flex: 1 1 auto;
}

.responsive-container {
  width: 80%;
  margin: 0% 10%;
}

@media (max-width: 1200px) {

  .responsive-container {
      width: 100% !important;
      margin: 0px !important;
  }
}

/* Styles for the Register and Login Pages from https://bootsnipp.com/snippets/dldxB */
a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-color {
  color: $primary;
}

.primary-border {
  border: 1px solid $primary;
}

.primary-bg {
  background-color: $primary;
}

.l-primary-bg {
  background-color: $sh-primary;
  /*background-color: #7e7e7e;*/
}

.gradient-bg {
  background: linear-gradient(45deg, #1372c7 50%, white);
}

.th-primary-bg {
  background-color: $th-primary;
}

.accent-bg {
  background-color: $accent;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.81);
}

.btn-success {
  color: #69ad33;
  background-color: white;
}

.btn-success-filled {
  background-color: #69ad33;
  color: white;
}

.primary-contrast {
  background-color: $primary !important;
  color: white !important;
}

tr.mat-row:last-child td.mat-cell {
  border: none !important;
}

.section {
  padding: 20px;
  position: relative;
}

.section .settings-control {
  font-size: 60px;
  color: white;
  height: auto;
  width: auto;
  position: absolute;
  right: 20px;
  top: calc(50% - 30px);
  cursor: pointer;
}

.section .settings-control:hover {
  color: rgba(255, 255, 255, .7);
}

.content-section {
  border-bottom: 1px solid #f0f0f0;
  margin: 0px 20px;
}

.super-section-header {
  font-size: 3rem !important;
  display: block;
}

.super-section-header:not(:focus) {
  text-transform: uppercase;
}

.super-section-header .extension {
  font-size: 1rem;
  color: white;
  text-transform: none;
}



.control-red {
  color: #d35252;
}

.control-red-hov:hover {
  color: #eb9090;
}

.control-blue {
  color: rgb(91, 128, 177);
}

.control-blue-hov:hover {
  color: rgb(182, 198, 219);
}

.control-green {
  color: #a0be86;
}

.control-green-hov:hover {
  color: #a0be8698;
}

.control-accent {
  color: #7415cc;
}

.control-accent-hov:hover {
  color: #7415ccab;
}

.footer {
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 40px);
  text-align: right;
  background-color: #f1f1f1;
  padding: 10px 20px;
}

.footer .button {
  margin-left: 5px;
}

.component-background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #ffffff, #a8a8a8);
}

// NEW STYLE

.head-tile {
  position: relative;
  padding: 40px 60px;
  background-color: white;
  margin: 10px 10px 0px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  color: #404040;
}
.head-tile .icon {
  position: absolute;
  right: 0px;
  height: auto;
  width: auto;
  font-size: 6rem;
  bottom: 20px;
  right: 20px;
  color: #dfdfdf;
}
.head-tile .head-button {
  margin-top: 15px;
  background-color: #114887;
  color: white;
  padding: 5px 10px;
  border: 0px;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 3px;
}
.head-tile .head-button.icon-button {
  vertical-align: top;
}
.head-tile .head-button.icon-button .ic {
  font-size: 1rem;
  height: auto;
  width: auto;
  vertical-align: inherit;
}
.head-tile .date-container {
  margin-top: 5px;
}
.head-tile .date-container .date, .project-tile .tile-content .badge {
  background-color: #11488745;
  padding: 2px 4px;
  margin-top: 2px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 10px;
}
.project-tile {
  display: flex;
  margin: 10px 10px 0px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: #134a899c;
  cursor: pointer;
  border: 3px solid #ffffffd4;
  position: relative;
}
.project-tile.warning {
  background-color: #ff940080;
}
.project-tile .index {
  width: 80px;
  text-align: center;
  font-size: 3rem;
  display: table-cell;
  align-self: center;
  color: white;
}
.project-tile .index .index-icon {
  font-size: 3rem;
  height: auto;
  vertical-align: middle;
  width: auto;
}
.project-tile .tile-content {
  flex: 1;
  padding: 30px 60px 30px 30px;
  border-left: 10px solid #114887;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}
.project-tile .tile-content.warning {
  border-color: #ff9400;
}
.project-tile .tile-content .headline {
  font-size: 1.8rem;
  color: #4b4b4b;
}
.project-tile:hover {
  border-color: white;
}
.project-tile:hover .tile-content .headline {
  color: grey;
}
.project-tile .control-icon {
  position: absolute;
  right: 10px;
  font-size: 3rem;
  top: calc(50% - 1.5rem);
  height: auto;
  width: auto;
  color: #dfdfdf;
}
.project-tile .control-icon.success {
  color: rgb(80, 136, 80);
}
.project-tile:hover .control-icon:not(.success) {
  color: #114887;
}
.project-tile:hover .control-icon.success {
  color: rgb(118, 170, 118);
}
.project-tile .tile-content .subtitle {
  display: block;
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.project-tile .tile-content .subtitle.no-content {
  color: lightgray;
}
.project-tile .tile-content .dates {
  display: block;
  font-size: 1rem;
  content: lightgrey;
}

.project-tile .inner-tile {
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #434343;
  border-radius: 5px;
  margin-top: 7px;
  position: relative;
}

.project-tile .inner-tile .inner-tile-headline {
  font-size: 1.5rem;
}

.project-tile .inner-tile .inner-tile-headline .counter {
  padding: 5px;
  background-color: #114887;
  color: white;
}

.project-tile .inner-tile .inner-tile-footer {
  font-size: .8rem;
}

.project-tile .headline .counter {
  font-size: 1rem;
  padding: 3px 7px;
  background-color: #87a3c6;
  border-radius: 50px;
  color: white;
  font-family: monospace;
  font-weight: bold;
  vertical-align: middle;
}

.project-tile .inner-tile .interaction-icon-container {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
}

.project-tile .inner-tile .inner-tile-fav-icon {
  color: lightgrey;
}

.project-tile .inner-tile .inner-tile-fav-icon.favored {
  color: gold;
}

.project-tile .inner-tile .inner-tile-delete-icon {
  color: rgb(153, 54, 54);
}

.project-tile .inner-tile .inner-tile-delete-icon:hover {
  color: rgb(180, 93, 93);
}

.project-tile .interaction-icon-container .inner-tile.interaction-icon {
  cursor: pointer;
}
.project-tile-footer {
  height: 45px;
  width: calc(100% - 5px);
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: white;
  display: flex;
  padding-right: 5px;
}
.project-tile-footer .footer-btn {
  height: 40px;
  display: inline-block;
  line-height: 40px;
  padding: 0px 15px;
  margin-left: 2px;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
}
.project-tile-footer .footer-btn.success {
  background-color: #5a9542;
}
.project-tile-footer .footer-btn.default {
  background-color: #114887;
}
.project-tile-footer .footer-btn.warning {
  background-color: #ffae00;
}
.project-tile-footer .footer-btn.success:hover {
  background-color: #85b472;
}
.project-tile-footer .footer-btn.default:hover {
  background-color: #4974a5;
}
.project-tile-footer .footer-btn.warning:hover {
  background-color: #ffcb5c;
}