/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(lib/iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(lib/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(lib/iconfont/MaterialIcons-Regular.woff) format('woff'), url(lib/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  vertical-align: text-top;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana";
}

.use-case-history {
  width: 30vw;
  display: inline-block;
  vertical-align: top;
}

.use-case-list {
  width: calc(70vw - 40px);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}