<div class="component-background">
    <div class="component-background-limiter"></div>
</div>
<div class="content responsive-container">
    <section class="head-tile">
        <span class="super-section-header">Ihre Projekte</span>
        <div>Hier können Sie Ihre {{ projects.length }} gespeicherten Projekte verwalten.</div>
        <mat-icon class="icon">layers</mat-icon>
    </section>
    <div *ngIf="projects.length > 0; else noProjects">
        <div *ngFor="let project of projects; let i = index" class="project-tile" (click)="gotoProjectDetailView(project)">
            <div class="index">
                {{ i }}
            </div>
            <div class="tile-content">
                <span class="headline">
                    {{ project.projectTitle }}
                </span>
                <span *ngIf="project.projectDescription != null; else noDescription" class="subtitle">
                    {{ project.projectDescription }}
                </span>
                <ng-template #noDescription>
                    <span class="subtitle no-content">
                        Keine Beschreibung angegeben
                    </span>
                </ng-template>
                <mat-icon class="control-icon">chevron_right</mat-icon>
            </div>
        </div>
    </div>
    <ng-template #noProjects>
        Keine Projekte gefunden
    </ng-template>
</div>