.project-tile {
    display: flex;
    margin: 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #134a899c;
    cursor: pointer;
    border: 3px solid #ffffffd4;
    position: relative;
}
.head-tile {
    position: relative;
    padding: 40px 60px;
    background-color: white;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: #404040;
}
.head-tile .icon {
    position: absolute;
    right: 0px;
    height: auto;
    width: auto;
    font-size: 6rem;
    bottom: 20px;
    right: 20px;
    color: #dfdfdf;
}
.project-tile .index {
    width: 80px;
    text-align: center;
    font-size: 3rem;
    display: table-cell;
    align-self: center;
    color: white;
}
.project-tile .tile-content {
    flex: 1;
    padding: 30px 60px 30px 30px;
    border-left: 10px solid #114887;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
}
.project-tile .tile-content .headline {
    font-size: 2.5rem;
    color: #4b4b4b;
}
.project-tile:hover {
    border-color: white;
}
.project-tile:hover .tile-content .headline {
    color: grey;
}
.project-tile .control-icon {
    position: absolute;
    right: 10px;
    font-size: 3rem;
    top: calc(50% - 1.5rem);
    height: auto;
    width: auto;
    color: #dfdfdf;
}
.project-tile:hover .control-icon {
    color: #114887;
}
.project-tile .tile-content .subtitle {
    display: block;
    color: #114887;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project-tile .tile-content .subtitle.no-content {
    color: lightgray;
}
.project-tile .tile-content .dates {
    display: block;
    font-size: 1rem;
    content: lightgrey;
}