* {
    user-select: none;
}

.main-content {
    margin: 10px;
}

.super-headline {
    font-size: 4rem;
    text-transform: uppercase;
}

.super-sub-headline {
    padding-left: 10px;
}

.sub-headline {
    font-weight: normal;
}

.sub-card-parent {
    padding: 50px;
}

.sub-card {
    margin: 20px 10px;
    cursor: pointer;
}

.sub-card:hover {
    background-color: rgba(0, 0, 0, .1);
}

.sub-card .icon {
    font-size: 1.8rem;
    vertical-align: sub;
    margin-right: 5px;
}

.sub-card .content {
    padding-left: calc(2rem + 5px);
}