<section class="section gradient-bg" style="color: white; position: relative; min-height: calc(100% - 104px);">
  <mat-icon class="bg-icon">cloud_queue</mat-icon>
  <span class="super-section-header" style="padding-bottom: 50px; font-size: 4rem;">Cloud Broker</span>
  <mat-grid-list cols="5" rowHeight="150px" gutterSize="7">
    <div *ngFor="let o of options">
      <mat-grid-tile *ngIf=o.ngIf(this) [colspan]="o.cols" [rowspan]="o.rows" [style.background]="o.bgColor" class="tile"
        (click)=o.click(this)>
        <div class="custom-tile">
          <span class="headline" [style.color]="o.headColor">{{ o.text }}</span>
          <div class="subtitle" [style.color]="o.subColor">{{ o.subtitle }}</div>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</section>