<div class="component-background">
  <div class="component-background-limiter"></div>
</div>
<div class="content responsive-container">
  <section class="head-tile">
    <span class="super-section-header" style="color: #404040; font-size: 4rem !important;">{{ 'startpage.headline' | translate }}</span>
    <div class="startpage-subtitle">{{ 'startpage.subtitle' | translate }}</div>
    <mat-icon class="icon" style="color: #404040;">filter_drama</mat-icon>
    <div *ngIf="metaData != null">
      <table class="metadata-table">
        <tbody>
          <tr>
            <td>
              <div class="count-badge">{{metaData.userCount}}</div>
            </td>
            <td>
              <span class="count-text">{{ 'startpage.usercount' | translate }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="count-badge">{{metaData.providerCount}}</div>
            </td>
            <td>
              <span class="count-text">{{ 'startpage.providercount' | translate }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="count-badge">{{metaData.serviceCount}}</div>
            </td>
            <td>
              <span class="count-text">{{ 'startpage.servicecount' | translate }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <div class="count-badge">{{metaData.searchCount}}</div>
            </td>
            <td>
              <span class="count-text">{{ 'startpage.searchcount' | translate }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div style="display: flex;">
    <div class="project-tile" style="flex: 2;" (click)="setState(1)">
      <div class="left-centered">
        <div class="headline" style="font-size: 3rem;">
          {{ 'startpage.searchserviceheadline' | translate }}
        </div>
        <div class="subtitle">
          {{ 'startpage.searchservicesubtitle' | translate }}
        </div>
      </div>
      <mat-icon class="bg-icon">search</mat-icon>
    </div>
    <div style="flex: 1;">
      <div *ngIf="!isLoggedIn" class="project-tile" (click)="openLoginDialog()">
        <div class="headline">
          {{ 'startpage.loginheadline' | translate }}
        </div>
        <div class="subtitle">
          {{ 'startpage.loginsubtitle' | translate }}
        </div>
      </div>
      <div *ngIf="isLoggedIn" class="project-tile" (click)="setState(12)">
        <div class="headline">
          {{ 'startpage.manageprojectheadline' | translate }}
        </div>
        <div class="subtitle">
          {{ 'startpage.manageprojectsubtitle' | translate }}
        </div>
      </div>
      <div class="project-tile" (click)="createProject()">
        <div class="headline">
          {{ 'startpage.createprojectheadline' | translate }}
        </div>
        <div class="subtitle">
          {{ 'startpage.createprojectsubtitle' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="project-tile unhoverable" style="display: flex; background-color: white;">
    <div style="flex: 1; align-self: center; margin-left: 30px;">
      <div class="headline" style="font-size: 2rem;">
        {{ 'startpage.aboutheadline' | translate }}
      </div>
      <div class="body">
        {{ 'startpage.aboutsubtitle' | translate }}
      </div>
    </div>
    <div style="flex: 1; padding: 20px; background-color: white;">
      <img src="../../../assets/vision.jpg" style="width: 100%; height: auto;">
    </div>
  </div>
  <div class="option-tile-container">
    <div class="project-tile unhoverable arrow-right-after">
      <mat-icon class="preview-icon" style="color: #ff9900;">contact_support</mat-icon>
      <span class="head">
        {{ 'startpage.firststepheadline' | translate }}
      </span>
      <p>
        {{ 'startpage.firststepsubtitle' | translate }}
      </p>
      <div class="footer-control" (click)="setState(1)" style="background-color: #ff9900;">
        <span>{{ 'startpage.firststepfooter' | translate }}</span>
        <mat-icon class="icon">chevron_right</mat-icon>
      </div>
    </div>
    <div class="project-tile unhoverable arrow-right-after">
      <mat-icon class="preview-icon" style="color: #76b54d;">announcement</mat-icon>
      <span class="head">
        {{ 'startpage.secondstepheadline' | translate }}
      </span>
      <p>
        {{ 'startpage.secondstepsubtitle' | translate }}
      </p>
    </div>
    <div class="project-tile unhoverable arrow-right-after">
      <mat-icon class="preview-icon" style="color: #114887;">cloud_queue</mat-icon>
      <span class="head">
        {{ 'startpage.thirdstepheadline' | translate }}
      </span>
      <p>
        {{ 'startpage.thirdstepsubtitle' | translate }}
      </p>
    </div>
    <div class="project-tile unhoverable">
      <mat-icon class="preview-icon" style="color: #ff005f;">headset_mic</mat-icon>
      <span class="head">
        {{ 'startpage.fourthstepheadline' | translate }}
      </span>
      <p>
        {{ 'startpage.fourthstepsubtitle' | translate }}
      </p>
    </div>
  </div>
  <div class="project-tile unhoverable imprint">
    <mat-icon style="vertical-align: bottom; margin-right: 10px;">
      public
    </mat-icon>
    <span>2020</span>
    <mat-icon class="seperator">lens</mat-icon>
    <span class="link" (click)="setState(16)">
      {{ 'startpage.imprint' | translate }}
    </span>
    <mat-icon class="seperator">lens</mat-icon>
    <a href="https://tu-dresden.de/bu/wirtschaft/winf/isih" class="link">
      {{ 'startpage.professorship' | translate }}
    </a>
  </div>
</div>