<app-navbar [isLoggedIn]="isLoggedIn" [username]="username" (dialogEmitter)="openLoginDialog()" (logoutEmitter)="logout()" (stateEmitter)="setState($event)">
</app-navbar>
<app-startpage
    *ngIf="state == 0"
    [isLoggedIn]="isLoggedIn"
    (stateEmitter)="setState($event)"
    (loginDialogEmitter)="openLoginDialog()"
    (registerDialogEmitter)="openRegisterDialog()"
>
</app-startpage>
<app-project-description *ngIf="state == 2" (stateEmitter)="setState($event)"
    (titleAndDescriptionEmitter)="project.setTitleAndDescription($event)"></app-project-description>
<app-use-case-selection [useCases]=useCases *ngIf="state == 1" (searchEmitter)="sendSearch($event)">
</app-use-case-selection>
<app-detailview [isLoggedIn]="isLoggedIn" *ngIf="state == 4" [services]=services [serviceCategories]=serviceCategories></app-detailview>
