.main-content {
    margin: 10px;
}

.timeline-container {
    height: 100%;
    width: 40px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.timeline-container .timeline-graph {
    width: 40px;
}

.history-element {
    margin: 10px 20px;
    display: flex;
    border-radius: 5px;
}

.history-element .time {
    color: white;
    padding: 10px;
}

.history-element .desc {
    padding: 10px;
    flex: 1;
}

.entry {
    margin: 5px 20px;
    cursor: pointer;
}

.entry:hover {
    background-color: rgba(0,0,0,.1);
}

.entry .content {
    display: flex;
}

.entry .content .text {
    padding-top: 4px;
}

::ng-deep .mat-checkbox .mat-checkbox-layout {
    display: block;
    font-size: 1rem;
    padding: 10px;
    margin: 0px 20px;
}

::ng-deep .mat-checkbox-inner-container {
    width: 14px !important;
    height: 14px !important;
    vertical-align: initial !important;
}

.option.active-true {
    cursor: pointer;
    color: black;
}

.option.active-false {
    color: #b8b8b8;
    cursor: not-allowed;
}

.option.active-true:hover {
    background: linear-gradient(45deg, #4f97eb, transparent);
    border-radius: 5px;
    color: white;
}

.option mat-icon {
    font-size: 1.3rem;
}