.main-content {
    margin: 10px;
}

.history-element {
    margin: 10px 20px;
    display: flex;
    border-radius: 5px;
}

.history-element .time {
    color: white;
    padding: 10px;
}

.history-element .desc {
    padding: 10px;
    flex: 1;
}

.entry {
    margin: 5px 20px;
    cursor: pointer;
}

.entry:hover {
    background-color: rgba(0,0,0,.1);
}

.entry .content {
    display: flex;
}

.entry .content .text {
    padding-top: 4px;
}

::ng-deep .mat-checkbox .mat-checkbox-layout {
    display: block;
    font-size: 1rem;
    padding: 10px;
    margin: 0px 20px;
}

::ng-deep .mat-checkbox-inner-container {
    width: 14px !important;
    height: 14px !important;
    vertical-align: initial !important;
}

.option.active-true {
    cursor: pointer;
    color: black;
}

.option.active-false {
    color: #b8b8b8;
    cursor: not-allowed;
}

.option mat-icon {
    font-size: 1.3rem;
}

.option {
    display: flex;
}

.option .stretch {
    flex: 1;
    padding: 10px 20px;
}

.width {
    width: calc(100% - 30px);
}

.head-title {
    color: #353638;
    font-size: 1.3rem;
    background-color: #f2f8fd;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.option .fixed-width {
    width: 200px;
    padding: 10px 20px;
    background-color: #1e88e50f;
    overflow: hidden;
    color: #595959;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: .9rem;
    align-content: center;
    display: grid;
    text-transform: uppercase;
    text-align: center;
}

.option .slider-width {
    width: 100%;
    overflow: unset;
    min-height: 40px;
}

.multiple-selection-option {
    margin-left: 10px;
}