<section class="section l-primary-bg" style="color: white;">
    <span class="super-section-header">Service suchen</span>
    <div style="padding-bottom: 20px;">Finden Sie Schritt für Schritt ihren passenden Cloud Service</div>
    <mat-icon class="settings-control">settings</mat-icon>
</section>
<div style="height: calc(100% - 260px); overflow-y: auto;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step *ngFor="let step of steps" [stepControl]="step.fg" style="overflow: inherit;">
            <form [formGroup]="step.fg">
                <ng-template matStepLabel>{{ step.headline }}</ng-template>
                <ng-container *ngFor="let element of step.options" class="selection-parent">
                    <div *ngIf="isSelectionOption(element) && element.condition(this)"
                        class="option active-{{ element.isActive }}">
                        <div class="stretch">
                            <div *ngIf="element.desc != null" class="head-title">
                                {{ element.desc }}
                            </div>
                            <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                disabled={{!element.isActive}}>{{ element.text }}</mat-checkbox>
                        </div>
                        <div *ngIf="element.hasPriority"  class="fixed-width">
                            Gewichtung
                            <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true formControlName="{{element.id}}-prio"></mat-slider>
                        </div>
                    </div>
                    <div *ngIf="isMultipleSelectionOption(element) && element.condition(this)"
                        class="option active-{{ element.isActive }}">
                        <div class="stretch">
                            <div *ngIf="element.desc != null" class="head-title">
                                {{ element.desc }}
                            </div>
                            <mat-form-field class="width multiple-selection-option">
                                <mat-label>{{ element.text }}</mat-label>
                                <mat-select formControlName={{element.id}} multiple>
                                    <mat-option *ngFor="let option of element.list" [value]="option.id">{{ option }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="element.hasPriority" class="fixed-width">
                            Gewichtung
                            <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true formControlName="{{element.id}}-prio"></mat-slider>
                        </div>
                    </div>
                </ng-container>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div class="footer">
    <button mat-raised-button color="primary" class="button" (click)=next()>Weiter</button>
    <button *ngIf="isSearchable()" mat-raised-button class="button btn-success-filled" (click)=sendSearch()>Service
        suchen</button>
</div>