.main-content {
    margin: 10px;
}

.timeline-container {
    height: 100%;
    width: 40px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.timeline-container .timeline-graph {
    width: 40px;
}