<section class="section l-primary-bg" style="color: white;">
    <span class="super-section-header">Service suchen</span>
    <div style="padding-bottom: 20px;">Finden Sie Schritt für Schritt ihren passenden Cloud Service</div>
</section>
<div style="height: calc(100% - 290px); overflow-y: auto;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step *ngFor="let step of steps" [stepControl]="step.fg" style="overflow: inherit;">
            <form [formGroup]="step.fg">
                <ng-template matStepLabel>{{ step.headline }}</ng-template>
                <ng-container *ngFor="let element of step.options" class="selection-parent">
                    <div *ngIf="isSelectionOption(element) && element.condition(this)"
                        class="option active-{{ element.isActive }}">
                        <div class="stretch">
                            <div *ngIf="element.desc != null" class="head-title">
                                {{ element.desc }}
                            </div>
                            <mat-checkbox color="primary" class="option-label" formControlName={{element.id}}
                                disabled={{!element.isActive}}>{{ element.text }}</mat-checkbox>
                        </div>
                        <div *ngIf="element.hasPriority"  class="fixed-width">
                            Gewichtung
                            <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true formControlName="{{element.id}}-prio"></mat-slider>
                        </div>
                    </div>
                    <div *ngIf="isMultipleSelectionOption(element) && element.condition(this)"
                        class="option active-{{ element.isActive }}">
                        <div class="stretch">
                            <div *ngIf="element.desc != null" class="head-title">
                                {{ element.desc }}
                            </div>
                            <mat-form-field class="width multiple-selection-option">
                                <mat-label>{{ element.text }}</mat-label>
                                <mat-select formControlName={{element.id}} multiple>
                                    <mat-option *ngFor="let option of element.list" [value]="option.id">{{ option }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="element.hasPriority" class="fixed-width">
                            Gewichtung
                            <mat-slider class="slider-width" [max]="3" [min]="0" [thumbLabel]=true formControlName="{{element.id}}-prio"></mat-slider>
                        </div>
                    </div>
                </ng-container>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div class="footer">
    <button mat-raised-button color="primary" class="button" (click)=next()>Weiter</button>
    <button *ngIf="isSearchable" mat-raised-button class="button btn-success-filled" (click)=sendSearch()>Service
        suchen</button>
</div>

<!--
<mat-card class="main-content">
    <mat-card-title class="super-headline">
        Welche Aussage trifft am meisten zu?
    </mat-card-title>
    <mat-card-subtitle style="display: flex;">
        <span>Wählen Sie eine der folgenden Aussagen oder entscheiden Sie sich dafür, ihre letzten Aussagen zu
            wiederholen.</span>
        <span class="spacer"></span>
        <button mat-stroked-button color="primary" *ngIf="stateHistory.length > 0" (click)=undo()>
            Zurück
        </button>
    </mat-card-subtitle>
    <div>
        <div style="height: 100%; width: 100%; display: inline-block;">
            <div *ngIf="currentUseCases.length > 0; else searchSection">
                <mat-card-content *ngFor="let u of currentUseCases">
                    <mat-card class="entry" (click)=setUseCase(u.data.id)>
                        <mat-card-content class="content">
                            <span class="text">{{ u.data.desc }}</span>
                            <span class="spacer"></span>
                            <mat-icon>chevron_right</mat-icon>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </div>
            <ng-template #searchSection>
                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)=sendSearch()>
                        Service suchen
                    </button>
                </div>
            </ng-template>
            <div style="display: block; text-align: center;">
                <mat-icon *ngIf="useCaseHistory.length > 0" style="font-size: 2rem; margin: 20px; color: grey;">
                    more_vert
                </mat-icon>
            </div>
            <mat-card-content>
                <div *ngFor="let h of useCaseHistory">
                    <div class="history-element primary-border">
                        <div class="time primary-bg">{{ h.time | date:"HH:mm:ss" }}</div>
                        <div class="desc">{{ h.object.data.desc }}</div>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>
-->